<div class='top-article-card'>
  <div class='card-title'>
    <h3><%= article.title %></h3>
  </div>
  <div class='card-wrapper'>
    <div class='card-top'>
      <div class='card-content'>
        　<%= strip_tags(article.content.to_s).truncate(50) %>
        <%= link_to 'もっと読む',article%>
      </div>
    </div>

    <div class='card-middle'>
      <div class='card-need'>
        必要なもの:　<%= article.need %>
      </div>
      <div class='card-reco'>
        おすすめな人:　<%= article.recommended_target%>
      </div>
    </div>

    <div class='card-bottom'>
        <div class='card-info'>
        <div id="favorites_buttons_<%= article.id %>">
          <%= render 'favorites/favorite', article: article %>
        </div>
        <div class='card-comment'>
          <i class="far fa-comments"></i>
          <%= article.comments.count %>件
      </div>
      </div>

      <div class='card-time'>
        <%= article.created_at.to_s(:datetime_jp)%>
        by <%= link_to article.user.user_name,article.user%>
      </div>
    </div>
  </div>
  <div class='card-wrapper'>
    <% if article.target_site == '大胸筋' %>
      <%= link_to image_tag('chest', alt: 'chest', class: 'card-image'), article%>
    <% elsif article.target_site == '腕' %>
      <%= link_to image_tag('arm', alt: 'arm', class: 'card-image'), article%>
    <% elsif article.target_site == '肩' %>
      <%= link_to image_tag('sholder', alt: 'sholder', class: 'card-image'), article%>
    <% elsif article.target_site == '腹筋' %>
      <%= link_to image_tag('abs', alt: 'abs', class: 'card-image'), article%>
    <% elsif article.target_site == '背中' %>
      <%= link_to image_tag('back', alt: 'back', class: 'card-image'), article%>
    <% elsif article.target_site == '脚' %>
      <%= link_to image_tag('leg', alt: 'leg', class: 'card-image'), article%>
    <% end %>
    <div class='text-center'>
      <p>鍛えられる部位</p>
    </div>
  </div>
</div>