<div class ='top'>
  <div class ='top-contents'>
    <div class='top-search'>
      <%= search_form_for @search_header ,class: 'top-search-form', url: articles_path do |f|%>
        <%= f.search_field :title_or_target_site_or_tags_name_cont, placeholder: 'メニューや鍛えたい部位で検索', class: 'top-search-input' %>
        <%= button_tag type: 'submit', class: 'top-search-btn' do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class='tag-search'>
      <p>人気のタグ：</p>
      <ul class='tag-list'>
      <% @top5_tag.each do |tag| %>
        <li class='tag-item'><%= link_to tag.name, articles_path(q: { tags_name_eq: tag.name }), class: 'tag-style tag-search-item'%></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <h2>人気のメニュー</h2>
  <div class='top-articles-wrapper favorite-wrapper'>
    <button id='favorite-scroll-left' class='scroll-btn favorite-scroll-btn'> < </button>
    <div class='top-article slide' id='favorite-menu-card'>
      <%= render partial: 'static_pages/article', collection: @all_ranks %>
    </div>
    <button id='favorite-scroll-right' class='scroll-btn favorite-scroll-btn'> > </button>
  </div>
  
  <h2>新着のメニュー</h2>
  <div class='top-articles-wrapper new-wrapper'>
    <button id='new-scroll-left' class='scroll-btn new-scroll-btn'> < </button>
    <div class='top-article slide' id='new-menu-card'>
      <%= render partial: 'static_pages/article', collection: @new_menu %>
    </div>
    <button id='new-scroll-right'class='scroll-btn new-scroll-btn'> > </button>
  </div>
</div>