<% comments.each do |comment| %>
  <div class='comment-wrapper' id="comment-<%= comment.id %>">
    <div class='comment-header'>
      <div class='article-header-user'>
        <%= link_to user_path(comment.user) do %>
          <% if comment.user.image? %>
            <%= image_tag comment.user.image.url, class: 'avatar-img small-img' %>
          <% else %>
            <%= image_tag "/assets/default.png", class: 'avatar-img small-img' %>
          <% end %>
          <span class='m-2'><%= comment.user.user_name%>さん</span>
        <% end %>
      </div>
    </div>
    <div class='comment-contents'>
    <%= simple_format(comment.content) %>
    </div>
    <div class='comment-footer'>
      <% if comment.user == current_user%>
        <%= link_to 'コメントを削除', article_comment_path(article_id: @article.id, id: comment.id), method: :delete, remote: true, data: { confirm: '削除しますか？' }, class: 'btn-default btn-sm btn-outline-danger' %>
      <% end %>
      <time class='m-2'><%= comment.user.created_at.to_s(:date_jp) %></time>
    </div>
  </div>
<% end %>