<div class='form-wrapper'>
  <%= form_with model: @article, local: true do |f| %>

    <div class="field form-group">
      <%= f.label :title, 'メニュー' %><br />
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.collection_radio_buttons(:target_site_id, TargetSite.all, :id , :muscle_name) %>
    </div>

    <div class='field form-group'>
      <div class='form-check'>
        <%= f.collection_check_boxes(:tag_ids, @muscles_check, :id, :name) if @muscles_check.present? %>
      </div>
      <div class='form-check'>
        <%= f.collection_check_boxes(:tag_ids, @tools_check, :id, :name) if @tools_check.present? %>
      </div>
      <div class='form-check'>
        <%= f.collection_check_boxes(:tag_ids, @recommends_check, :id, :name) if @recommends_check.present? %>
      </div>
      <div class='form-check'>
        <%= f.collection_check_boxes(:tag_ids, @others_check, :id, :name) if @others_check.present? %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :content, 'メニューの方法' %>
      <%= f.rich_text_area :content, class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :important_point, 'コツや注意点、回数など' %><br />
      <%= f.text_area :important_point, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>