<div class='search-box'>
  <%= search_form_for @search do |f| %>
    <div class='input-group input-group-lg text-center'>
      <%= f.collection_select :target_site_id_eq, TargetSite.all, :id, :muscle_name,
                              {prompt: "部位を選択"},{class: "form-control"}%>
      <%= f.grouped_collection_select :tags_id_eq, TagGroup.all.includes(:tags), :tags, :name, :id, :name,
                              {prompt: "タグを選択"},{class: "form-control"}%>
    </div>
    <div class='input-group input-group-lg'>
      <%= f.search_field :title_or_tags_name_cont, placeholder: 'キーワードを入力', class: 'form-control' %>
      <%= f.submit '検索'%>
    </div>
  <% end %>
</div>
