<% provide :title, @article.title %>

<div class='container'>
  <div class='article-wrapper'>
    <div class='article-header'>
      <div class='row'>
        <div class='col-lg-10'>
          <div class= article_header-title>
            <h2><%= @article.title %></h2>
          </div>
          <div>
            <ul class='tag-list'>
              <% if @article.tags.present? %>
                <% @article.tags.each do |tag| %>
                  <li class='tag-item tag-style'><%= tag.name%></li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class='article-header-user'>
            <%= link_to user_path(@article.user) do %>
              <% if @article.user.image? %>
                <%= image_tag @article.user.image.url, class: 'avatar-img small-img' %>
              <% else %>
                <%= image_tag "/assets/default.png", class: 'avatar-img small-img' %>
              <% end %>
              <span class='m-2'><%= @article.user.user_name%>さん</span>
            <% end %>
            <time class='article-header-time'>投稿日：<%= @article.created_at.to_s(:date_jp)%></time>
          </div>
          <p class='article-header-target-site'>
            鍛えられる部位：<%= @article.target_site.muscle_name%>
          </p>
        </div>
        <div class='col-md-2'>
          <div class='article-header-target-box'>
            <% if @article.target_site.muscle_name == '胸' %>
              <%= image_tag('chest.png', alt: 'chest', class: 'target-site-img') %>
            <% elsif @article.target_site.muscle_name == '腕' %>
              <%= image_tag('arm.png', alt: 'arm', class: 'target-site-img') %>
            <% elsif @article.target_site.muscle_name == '肩' %>
              <%= image_tag('sholder.png', alt: 'sholder', class: 'target-site-img') %>
            <% elsif @article.target_site.muscle_name == '腹' %>
              <%= image_tag('abs.png', alt: 'abs', class: 'target-site-img') %>
            <% elsif @article.target_site.muscle_name == '背中' %>
              <%= image_tag('back.png', alt: 'back', class: 'target-site-img') %>
            <% elsif @article.target_site.muscle_name == '脚' %>
              <%= image_tag('leg.png', alt: 'leg', class: 'target-site-img') %>
            <% end %>
            <p class='text-center'>鍛えられる部位</p>
          </div>
        </div>
      </div>
    </div>
    <div class='article-contents'>
      <% if @video_id %>
        <div>
          <h4 class='article-content-title'> 参考動画</h4>
          <div class='video-wrapper'>
            <iframe class='video-content' src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      <% end %>
      <div>
        <h4 class='article-content-title'>メニューの方法</h4>
        <div>
          <%= @article.content%>
        </div>
      </div>
      <div>
        <h4 class='article-content-title'>コツや注意点、回数など</h4>
        <p>
          <%= simple_format(@article.important_point) %>
        </p>
      </div>
    </div>
    <div class='article-footer'>
      <div>
        <div class='article-footer-user'>
          <div>
            <% if @article.user.image? %>
              <%= link_to image_tag(@article.user.image.url, class: 'avatar-img middle-img'), @article.user %>
            <% else %>
              <%= link_to image_tag("/assets/default.png", class: 'avatar-img middle-img'), @article.user %>
            <% end %>
          </div>
          <div class='article-footer-user-info'>
            <div class='prof-name'>
              <%= @article.user.user_name%>
            </div>
            <div class='prof-menu'>
              <%= render "relationships/follow_button", user: @article.user %>
            </div>
          </div>
        </div>
      </div>
      <div class='d-flex'>
        <div id="favorites_buttons_<%= @article.id %>">
          <%= render 'favorites/favorite', article: @article %>
        </div>
        <% if user_signed_in?%>
          <% if current_user == @article.user %>
            <%= link_to '編集', edit_article_path(@article), class: 'btn-default btn-outline-success' %>
            <%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-default btn-outline-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='article-comment'>
      <div class = 'comments'>
        <h4>コメント一覧</h4>
        <div class=article-comment-list id='comment-list'>
          <%= render 'comments/comments', comments: @comments%>
        </div>
      </div>
      <% if user_signed_in? %>
        <div>
          <h4>コメントを投稿する</h4>
          <%= render 'comments/comment_form'%>
        <div>
      <% end %>
    </div>
  </div>
</div>
