<% provide :title, 'マイページ' %>

<div class='container'>
  <div class='prof-header'>
    <div class='prof-img'>
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: 'avatar-img big-img' %>
      <% else %>
        <%= image_tag "/assets/default.png", class: 'avatar-img big-img' %>
      <% end %>
    </div>
    <div class='prof-info'>
      <div class='prof-name'>
        <%= @user.user_name%>
      </div>
      <div class='prof-menu'>
        <%= render "relationships/follow_button", user: @user %>
        <% if current_user == @user%>
          <%= link_to 'プロフィール編集',edit_user_registration_path(@user), class: 'btn btn-sm btn-outline-secondary'%>
        <% end %>
      </div>
    </div>
  </div>

  <div class='management-link'>
    <%= link_to 'トレーニング記録', user_records_path(@user), class: 'btn-default blue-btn' if current_user == @user || @user.records_is_released %>
    <%= link_to '体重記録', user_bodyweights_path(@user), class: 'btn-default blue-btn' if current_user == @user || @user.bodyweights_is_released%>
  </div>

  <ul class='nav nav-tabs justify-content-center mt-5'>
    <li class ='nav-item text-center'>
      <a href='#prof-articles' class='nav-link active prof-tab-color' data-toggle='tab' role="tab">
        <span class='tab-name'>投稿</span>
        <div>
          <%= @articles.count%>
        </div>
      </a>
    </li>
    <li class ='nav-item text-center'>
      <a href='#prof-followings' class='nav-link prof-tab-color' data-toggle='tab' >
        <span class='tab-name'>フォロー</span>
        <div>
          <%= @followings.count%>
        </div>
      </a>
    </li>
    <li class ='nav-item text-center'>
      <a href='#prof-followers' class='nav-link prof-tab-color' data-toggle='tab' >
        <span class='tab-name'>フォロワー</span>
        <div>
          <%= @followers.count%>
        </div>
      </a>
    </li>
    <li class ='nav-item text-center'>
      <a href='#prof-favorites' class='nav-link prof-tab-color' data-toggle='tab' >
        <span class='tab-name'>いいね！</span>
        <div>
          <%= @favorite_articles.count%>
        </div>
      </a>
    </li>
  </ul>

  <div class='tab-content'>
    <div id='prof-articles' class='tab-pane active'>
      <% if @articles.any? %>
        <div class='article'>
          <%= render @articles%>
        </div>
      <% else %>
        <div class='no-content'>
          投稿したメニューがありません
        </div>
      <% end %>
    </div>
    <div id='prof-followings' class='tab-pane'>
      <% if @followings.any? %>
        <div class='row justify-content-between'>
          <%= render 'follows', users: @followings%>
        </div>
      <% else %>
        <div class='no-content'>
          誰もフォローしていません
        </div>
      <% end %>
    </div>
    <div id='prof-followers' class='tab-pane'>
      <% if @followers.any? %>
        <div class='row justify-content-between'>
          <%= render 'follows', users: @followers%>
        </div>
      <% else %>
        <div class='no-content'>
          フォローされていません
        </div>
      <% end %>
    </div>
    <div id='prof-favorites' class='tab-pane'>
      <% if @favorite_articles.any? %>
        <div class='article'>
          <%= render partial: 'articles/article', collection:@favorite_articles%>
        </div>
      <% else %>
        <div class='no-content'>
          いいね！したメニューがありません
        </div>
      <% end %>
    </div>
  </div>
</div>