<div class='form-wrapper'>
  <%= form_with model: [@user, @record] do |f| %>

    <div class="text-right">
      <%= f.date_field :start_time, value: Date.today%>
    </div>
    <div class="form-group record-target-form">
      <%= f.label :main_target, '特に鍛えたい場所'%>
      <%= f.text_field :main_target, class: 'form-control' %>
    </div>
    <div class='record-set nested-fields'>
      <div class="col-4 record-field">
        <%= f.label :menu, 'メニュー'%>
      </div>

      <div class='d-flex col-7'>
        <div class="col-4 record-field">
          <%= f.label :weight, '重量' %>
        </div>

        <div class="col-4 record-field">
          <%= f.label :rep, '回数' %>
        </div>

        <div class="col-4 record-field">
          <%= f.label :set, 'セット数' %>
        </div>
      </div>
    </div>
    <% if request.path_info == new_user_record_path(@user) %>
      <% 4.times do %>
        <%= f.fields_for :training_menus do |f| %>
            <%= render "training_menu_fields", f: f %>
        <% end %>
      <% end %>
    <% else %>
      <%= f.fields_for :traning_menus do |f| %>
          <%= render "training_menu_fields", f: f %>
      <% end %>
    <% end %>

    <div class="links">
      <%= link_to_add_association "メニューを追加", f, :training_menus %>
    </div>
    <div class="actions text-right">
      <% if request.path_info == new_user_record_path(@user) %>
        <%= f.submit "記録する" %>
      <% else %>
        <%= f.submit "編集する" %>
      <% end %>
    </div>
  <% end %>
</div>