<%= form_with model: [@user, @record] do |f| %>

  <div class="text-right">
    <%= f.date_field :start_time, value: Date.today%>
  </div>
  <%= f.fields_for :traning_menus do |f| %>
    <div class='record-set nested-fields'>
      <div class="form-group col-2">
        <%= f.label :menu, 'メニュー' ,class: 'text-center'%>
        <%= f.text_field :menu, class: 'form-control' %>
      </div>

      <div class="form-group col-2">
        <%= f.label :weight, '重量' %>
        <%= f.number_field :weight, class: 'form-control' %>
        <p class='text-right'>kg</p>
      </div>

      <div class="form-group col-2">
        <%= f.label :rep, '回数' %>
        <%= f.number_field :rep, class: 'form-control' %>
        <p class='text-right'>回</p>
      </div>

      <div class="form-group col-2">
        <%= f.label :set, 'セット数' %>
        <%= f.number_field :set, class: 'form-control' %>
        <p class='text-right'>セット</p>
      </div>

      <div class="form-group col-3">
        <%= f.label :note, '備考' %>
        <%= f.text_field :note, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <% 4.times do %>
    <%= f.fields_for :traning_menus do |f| %>
        <%= render "traning_menu_fields", f: f %>
    <% end %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "メニューを追加", f, :traning_menus %>
  </div>
  <div class="actions text-right">
    <%= f.submit "記録する" %>
  </div>
<% end %>