<%= form_with model: [@user, @record] do |f| %>

  <div class="text-right">
    <%= f.date_field :start_time, value: Date.today%>
  </div>
  <div class='record-set nested-fields'>
    <div class="col-4 record-field">
      <%= f.label :menu, 'メニュー'%>
    </div>

    <div class='d-flex col-7'>
      <div class="col-4 record-field">
        <%= f.label :weight, '重量' %>
      </div>

      <div class="col-4 record-field">
        <%= f.label :rep, '回数' %>
      </div>

      <div class="col-4 record-field">
        <%= f.label :set, 'セット数' %>
      </div>
    </div>
  </div>
  <% 4.times do %>
    <%= f.fields_for :traning_menus do |f| %>
        <%= render "traning_menu_fields", f: f %>
    <% end %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "メニューを追加", f, :traning_menus %>
  </div>
  <div class="actions text-right">
    <%= f.submit "記録する" %>
  </div>
<% end %>