<div class='record-set nested-fields'>
  <div class="form-group col-2">
    <%= f.text_field :menu, class: 'form-control' %>
  </div>

  <div class="form-group col-2">
    <%= f.number_field :weight, class: 'form-control' %>
    <p class='text-right'>kg</p>
  </div>

  <div class="form-group col-2">
    <%= f.number_field :rep, class: 'form-control' %>
    <p class='text-right'>回</p>
  </div>

  <div class="form-group col-2">
    <%= f.number_field :set, class: 'form-control' %>
    <p class='text-right'>セット</p>
  </div>

  <div class="form-group col-3">
    <%= f.text_field :note, class: 'form-control' %>
  </div>

  <div class="form-group col-1">
    <%= link_to_remove_association "削除", f %>
  </div>
</div>

