<div class='record-set nested-fields'>
  <div class="form-group col-md-4 col-sm-10 record-field">
    <%= f.text_field :menu, placeholder: 'メニュー', class: 'form-control' %>
  </div>

  <div class='d-flex col-md-7 col-sm-10'>
    <div class="form-group col-4 record-field">
      <%= f.number_field :weight, min: 0, placeholder: '重さ', class: 'form-control' %>
      <p class='text-right'>kg</p>
    </div>

    <div class="form-group col-4 record-field">
      <%= f.number_field :rep, min: 0, placeholder: '回数', class: 'form-control' %>
      <p class='text-right'>rep</p>
    </div>

    <div class="form-group col-4 record-field">
      <%= f.number_field :set, min: 0, placeholder: 'セット', class: 'form-control' %>
      <p class='text-right'>set</p>
    </div>
  </div>
  <div class="form-group float-right">
    <%= link_to_remove_association "削除", f %>
  </div>
</div>

