<% provide :title, 'トレーニング記録' %>

<div class='container-fluid'>
  <h2>トレーニング記録</h2>
  <% if user_signed_in? %>
    <% if current_user == @user %>
      <%= link_to 'トレーニングメニューを記録する',new_user_record_path(@user)%>
    <% end %>
  <% end %>
  <%= month_calendar events: @records do |date, records| %>
    <%= date.day %>

    <% records.each do |record| %>
      <div>
        <%= link_to image_tag('stamp.png', class: 'record-logo' ),user_record_path(user_id: @user, id: record.id)%>
      </div>
    <% end %>
  <% end %>
</div>

<div class='container record-top-wrapper'>
  <h2>直近のトレーニングメニュー</h2>
  <% if @last_record%>
    <%= render 'record_table', record: @last_record%>
  <% end %>
</div>

<%= week_calendar events: @records do |date, records| %>
    <%= date.day %>

    <% records.each do |record| %>
      <div>
        <%= link_to image_tag('stamp.png', class: 'record-logo' ),user_record_path(user_id: @user, id: record.id)%>
      </div>
    <% end %>
  <% end %>