<% provide :title, 'トレーニング記録' %>

<div class='container-fluid'>
  <div class='record-wrapper white-background'>
    <h2>トレーニング記録</h2>
    <%= month_calendar events: @records do |date, records| %>
      <%= date.day %>

      <% records.each do |record| %>
        <div>
          <%= link_to user_record_path(user_id: @user, id: record.id) do %>
            <p class='calendar-main-target'><%= record.main_target %></p>
            <%= image_tag('stamp.png', class: 'record-logo' )%>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class='float-right'>
      <% if current_user == @user %>
        <%= link_to 'トレーニングを記録する',new_user_record_path(@user),class: 'btn-default btn-lg blue-btn'%>
      <% end %>
    </div>
    <div class='last-record'>
      <h2>最近のトレーニングメニュー</h2>
      <% if @last_record%>
        <%= render 'record_table', record: @last_record%>
      <% end %>
    </div>
  </div>
</div>
