<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "muscle app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "メニュー一覧", '#' %></li>
            <li><%= link_to "メニュー検索", '#' %></li>
            <li><%= link_to "メニュー投稿", '#' %></li>
            <li><%= link_to "ユーザー", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>