<header class="navbar fixed-top">
  <div class="container">
    <%= link_to "Muscle app", root_path, id: "logo" , class: 'navbar-brand'%>
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item"><%= link_to "メニュー一覧", articles_path ,class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "メニュー検索", '#' ,class: 'nav-link' %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "メニュー投稿", new_article_path ,class: 'nav-link' %></li>
            <li class="nav-item dropdown">
            <%= link_to " #{current_user.user_name}さん", '#', class: "nav-link dropdown-toggle", id: "navbarDropdown",
            role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to ' マイページ', user_path(current_user), class: 'dropdown-item' %>
              <%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "ユーザー登録", new_user_registration_path ,class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "ログイン", user_session_path ,class: 'nav-link' %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>