<header class="navbar fixed-top navbar-light navbar-expand-lg">
  <div class="container">
    <%= link_to image_tag('logo', class: 'header-logo' ), root_path, id: "logo" , class: 'navbar-brand'%>
      <div >
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "メニュー一覧", articles_path ,class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "メニュー検索", '#' ,class: 'nav-link' %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "メニュー投稿", new_article_path ,class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "#{current_user.user_name}さん", user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "ユーザー登録", new_user_registration_path ,class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "ログイン", user_session_path ,class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
  </div>
</header>