<header class="navbar fixed-top">
  <div class="container">
    <%= link_to "Muscle app", root_path, id: "logo" , class: 'navbar-brand'%>
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item"><%= link_to "メニュー一覧", '#' ,class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "メニュー検索", '#' ,class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "メニュー投稿", '#' ,class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "ユーザー", '#' ,class: 'nav-link' %></li>
        </ul>
      </nav>
  </div>
</header>