<!DOCTYPE html>
<html>
  <head>
    <title>MuscleApp</title>
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim'%>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class ='contents'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
