<% provide :title, 'プロフィール編集' %>

<div class='container'>
  <div class='user_form'>
    <h2>プロフィール編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :user_name, 'ユーザー名' %><br />
        <%= f.text_field :user_name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :image,'プロフィール画像' %>
          <% if @user.image? %>
            <%= image_tag @user.image.url, class: 'avatar-img big-img', id: 'img-preview' %>
          <% else %>
            <%= image_tag "/assets/default.png", class: 'avatar-img big-img', id: 'img-preview' %>
          <% end %>
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: 'prof-file' %>
      </div>

      <div class="field form-group">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :bodyweights_is_released, '体重管理の公開設定' %>
        <%= f.check_box :bodyweights_is_released, checked_value: 'true', unchecked_value: 'false' %>
        <%= f.label :records_is_released, 'トレーニング記録の公開設定' %>
        <%= f.check_box :records_is_released, checked_value: 'true', unchecked_value: 'false' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password, '新しいパスワード' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <i>(変更しない場合は空白のままにしてください)</i>
        
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, '新しいパスワード確認用' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, '現在のパスワード' %><br /> 
        <i>(プロフィールを変更する場合は必要になります)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= link_to "キャンセル", :back, class: 'btn-default cancel-round-btn'%>
        <%= f.submit "変更を保存する", class: 'btn-default red-round-btn ' %>
      </div>
    <% end %>
  </div>
</div>